DATABASE_URL=mongodb+srv://chat_admin:chat_admin@van.sh06wtf.mongodb.net/mediadb?retryWrites=true&w=majority
JWT_TOKEN=thefucktoken
NODE_ENV=development
SECRET_KEY_ONE=
SECRET_KEY_TWO=
CLIENT_URL=
API_URL=
REDIS_HOST=
CLOUD_NAME=
CLOUD_API_KEY=
CLOUD_API_SECRET=
SENDER_EMAIL=
SENDER_EMAIL_PASSWORD=
SENDGRID_API_KEY=
SENDGRID_SENDER=
EC2_URL=http://169.254.169.254/latest/meta-data/instance-id
